body {
  margin: 0;
  text-align: center;
  background: linear-gradient(200deg, #b7b7b7, #f4df4f, #7a6f27);
  background-size: 300% 300%;
  -webkit-animation: movebg 10s ease infinite;
  -moz-animation: movebg 10s ease infinite;
  -o-animation: movebg 10s ease infinite;
  animation: movebg 10s ease infinite;
}

input {
  font: inherit;
}

main {
  height: 500vh;
}

.count {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: max-content;
  font-family: system-ui, Roboto, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.6;
  color: #242424;
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #eaeaea;
}

footer p {
  font-size: 0.75rem;
  margin: 0.25rem 0;
  color: #221133;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@keyframes movebg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
